<nz-modal [(nzVisible)]="showModal" nzTitle="Edit Event Set" [nzWidth]="modalWidth" nzOkText="Save"
  nzCancelText="Cancel" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="eventSetForm" (ngSubmit)="handleOk()" nz-form>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12">
          <nz-form-item>
            <nz-form-label nzFor="eventSetName" nzRequired>Event Set Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="eventSetName" placeholder="Enter Event Set Name" />
              <div *ngIf="eventSetForm.get('eventSetName')?.invalid && eventSetForm.get('eventSetName')?.touched"
                class="error">
                <span *ngIf="eventSetForm.get('eventSetName')?.hasError('required')">Event Set Name is required.</span>
                <span *ngIf="eventSetForm.get('eventSetName')?.hasError('maxlength')">Event Set Name cannot exceed 200
                  characters.</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12">
          <nz-form-item>
            <nz-form-label nzFor="eventSetDescription">Event Set Description</nz-form-label>
            <nz-form-control>
              <textarea nz-input formControlName="eventSetDescription" rows="2"
                placeholder="Enter Event Set Description"></textarea>
              <div
                *ngIf="eventSetForm.get('eventSetDescription')?.invalid && eventSetForm.get('eventSetDescription')?.touched"
                class="error">
                <span *ngIf="eventSetForm.get('eventSetDescription')?.hasError('maxlength')">Event Set Description
                  cannot exceed 2000 characters.</span>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="16" class="event-set-type" >
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12">
          <div> Event Set Type : <b>{{this.selectedEventSetTypeName}}</b> </div>
        </div>
      </div>
    </form>

    <!-- Tabs for Available Events and Current Events -->
    <nz-tabset>
      <nz-tab nzTitle="Available Events To Add">
        <app-events-table [addEventConfig]="addEventConfig" [successValue]="eventList$ | async | successValue"
          [removeRowList]="existingEvents" [isMultipleAddMode]="true"
          (selectedRowsChanged)="updateAvailableEventsSelection($event)"></app-events-table>
      </nz-tab>

      <nz-tab nzTitle="Remove Events ">
        <app-events-table [addEventConfig]="addEventConfig" [rowDataList]=" this.existingEvents" [isMultipleAddMode]="true"
          (selectedRowsChanged)="deleteEventsSelection($event)"></app-events-table>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-modal>