<form [formGroup]="eventForm" class="event-form ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzLabelAlign="left" class="fit-content-width">{{
          addEventConfig.labels?.eventName || "Event Name"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input
            nz-input
            id="eventName"
            formControlName="eventName"
            placeholder="Enter event name"
          />
          <div
            *ngIf="
              eventForm.get('eventName')?.invalid &&
              eventForm.get('eventName')?.touched
            "
            class="error"
          >
            {{
              addEventConfig.errorMessages?.eventName ||
                "Event name is required."
            }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzLabelAlign="left" class="fit-content-width">{{
          addEventConfig.labels?.regionPeril || "Region-Peril"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select-dropdown-with-add-option  formControlName="regionPeril" [listOfItems]="regionPerilOptions" (itemAdded)="onRegionPerilItemAdded($event)" > </nz-select-dropdown-with-add-option>

          <!-- <nz-select
            nzShowSearch
            nzAllowClear
            id="regionPeril"
            formControlName="regionPeril"
            nzPlaceHolder="Select region-peril"
          >
            <nz-option
              *ngFor="let option of addEventConfig.regionPerilOptions"
              [nzValue]="option.actualValue"
              [nzLabel]="option.displayValue"
            ></nz-option>
          </nz-select> -->
          <div
            *ngIf="
              eventForm.get('regionPeril')?.invalid &&
              eventForm.get('regionPeril')?.touched
            "
            class="error"
          >
            {{
              addEventConfig.errorMessages?.regionPeril ||
                "Region-peril selection is required."
            }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzLabelAlign="left" class="fit-content-width">{{
          addEventConfig.labels?.eventDate || "Event Date"
        }}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-date-picker
            id="eventDate"
            formControlName="eventDate"
          ></nz-date-picker>
          <div
            *ngIf="
              eventForm.get('eventDate')?.invalid &&
              eventForm.get('eventDate')?.touched
            "
            class="error"
          >
            {{
              addEventConfig.errorMessages?.eventDate ||
                "Event date is required."
            }}
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <ng-container *ngIf="addEventConfig.allowMultipleEvents">
    <div formArrayName="events">
      <ng-container *ngFor="let event of events.controls; let i = index">
        <nz-row [nzGutter]="16" [formGroupName]="i" class="event-group">
          <nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label nzLabelAlign="left" class="fit-content-width">{{
                addEventConfig.labels?.industryLoss || "Industry Loss"
              }}</nz-form-label>
              <nz-form-control [nzSpan]="12">
                <!-- <nz-select
                  formControlName="industryLoss"
                  nzPlaceHolder="Select industry loss"
                >
                  <nz-option
                    *ngFor="let option of addEventConfig.industryLossOptions"
                    [nzValue]="option.actualValue"
                    [nzLabel]="option.displayValue"
                  ></nz-option>
                </nz-select> -->

                <nz-select-dropdown-with-add-option  formControlName="industryLoss" [listOfItems]="industryLossOptions" (itemAdded)="onIndustryLossOptionAdded($event)" > </nz-select-dropdown-with-add-option>
                <div
                  *ngIf="
                    event.get('industryLoss')?.invalid &&
                    event.get('industryLoss')?.touched
                  "
                  class="error"
                >
                  {{
                    addEventConfig.errorMessages?.industryLoss ||
                      "Industry loss selection is required."
                  }}
                </div>
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-label nzLabelAlign="left" class="fit-content-width">{{
                addEventConfig.labels?.hiscoxImpact || "Hiscox Impact"
              }}</nz-form-label>
              <nz-form-control [nzSpan]="12">
                <!-- <nz-select
                  formControlName="hiscoxImpact"
                  nzPlaceHolder="Select Hiscox impact"
                >
                  <nz-option
                    *ngFor="let option of addEventConfig.hiscoxImpactOptions"
                    [nzValue]="option.actualValue"
                    [nzLabel]="option.displayValue"
                  ></nz-option>
                </nz-select> -->

                <nz-select-dropdown-with-add-option  formControlName="hiscoxImpact" [listOfItems]="hiscoxImpactOptions" (itemAdded)="onHiscoxImpactOptionAdded($event)" > </nz-select-dropdown-with-add-option>
                <div
                  *ngIf="
                    event.get('hiscoxImpact')?.invalid &&
                    event.get('hiscoxImpact')?.touched
                  "
                  class="error"
                >
                  {{
                    addEventConfig.errorMessages?.hiscoxImpact ||
                      "Hiscox impact selection is required."
                  }}
                </div>
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <nz-col [nzSpan]="8" class="icon-buttons">
            <i
              nz-icon
              nzType="plus-circle"
              nzTheme="fill"
              (click)="addEvent()"
              class="add-icon"
            ></i>
            <i
              nz-icon
              nzType="delete"
              nzTheme="fill"
              (click)="removeEvent(i)"
              class="remove-icon"
            ></i>
          </nz-col>
        </nz-row>
      </ng-container>
    </div>
  </ng-container>

  <nz-row>
    <nz-col [nzSpan]="24" class="search-area">
      <button nz-button nzType="primary" (click)="addToCatalog()">
        Add to Catalog
      </button>
      <!-- <button nz-button nzType="default" (click)="resetForm()">
        Reset Form
      </button> -->
    </nz-col>
  </nz-row>
</form>
