.event-form {
    margin: 0 auto;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .ant-advanced-search-form {
    // padding: 24px;
    // background: #fbfbfb;
    // border: 1px solid #d9d9d9;
    // border-radius: 6px;
  }
  
  .search-area {
    text-align: right;
  }
  
  .icon-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: -20px;
  }
  
  .add-icon, .remove-icon {
    font-size: 24px; /* Make the icons slightly larger */
    cursor: pointer;
  }
  
  .add-icon {
    color: #52c41a; /* Green color for Add icon */
  }
  
  .remove-icon {
    color: #f5222d; /* Red color for Delete icon */
  }
  