<div class="event-catalog">
  <h3>Event Catalog</h3>
  <nz-divider nzType="vertical"></nz-divider>
  <div class="tab-buttons">
    <button 
      nz-button 
      nzType="default" 
      [ngClass]="{ 'active-tab': selectedTab === 'rds' }"
      (click)="setActiveTab('rds')">
      RDS
    </button>

    <button 
      nz-button 
      nzType="default" 
      [ngClass]="{ 'active-tab': selectedTab === 'postEvent' }"
      (click)="setActiveTab('postEvent')">
      Post Event
    </button>

    <button 
      nz-button 
      nzType="default" 
      [ngClass]="{ 'active-tab': selectedTab === 'eventResponse' }"
      (click)="setActiveTab('eventResponse')">
      Event Response
    </button>
  </div>
</div>

<div class="tab-content">
  <ng-container *ngTemplateOutlet="currentTemplate"></ng-container>
</div>

<div class="templates">
  <ng-template #rdsTemplate>
  <app-rds-event></app-rds-event>
  </ng-template>

  <ng-template #postEventTemplate>
   <app-post-event></app-post-event>
  </ng-template>

  <ng-template #eventResponseTemplate>
    <app-event-response></app-event-response>
  </ng-template>
</div>





  