<section id="events-dashboard">
  <!-- Resolve the observables first with async and aliases -->
  <ng-container *ngIf="eventsTypeList$ | async as eventsTypeData">
    <ng-container *ngIf="regionPerilList$ | async as regionPerilData">

      <!-- Wrap everything in nz-spin and set the loading state based on inProgress status -->
      <div class="example">
      <nz-spin nzSimple nzTip="Loading..." [nzSize]="'large'" [nzSpinning]="(eventsTypeData | isInProgress) || (regionPerilData | isInProgress)">

        <!-- Error State -->
        <ng-container *ngIf="(eventsTypeData | isFailure) || (regionPerilData | isFailure)">
          <ng-container *ngTemplateOutlet="errorTemplate"></ng-container>
        </ng-container>

        <!-- Success State -->
        <ng-container *ngIf="(eventsTypeData | isSuccess) && (regionPerilData | isSuccess)">
          <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
          <ng-container *ngTemplateOutlet="tabContentTemplate"></ng-container>
        </ng-container>

      </nz-spin>
    </div>
    </ng-container>
  </ng-container>
</section>

<section id="events-dashboard">
  <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
  <ng-container *ngTemplateOutlet="tabContentTemplate"></ng-container>
</section>


<!-- Individual Templates -->

<!-- Buttons Template -->
<ng-template #buttonsTemplate>
  <div class="tab-buttons">
    <h2>Event Catalog</h2>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="default" [ngClass]="{ 'active-tab': selectedTab === 'rds' }"
      (click)="setActiveTab('rds')">
      RDS
    </button>
    <button nz-button nzType="default" [ngClass]="{ 'active-tab': selectedTab === 'postEvent' }"
      (click)="setActiveTab('postEvent')">
      Post Event
    </button>
    <button nz-button nzType="default" [ngClass]="{ 'active-tab': selectedTab === 'eventResponse' }"
      (click)="setActiveTab('eventResponse')">
      Event Response
    </button>
  </div>
</ng-template>

<!-- Tab Content Template -->
<ng-template #tabContentTemplate>
  <div class="tab-content">
    <ng-container *ngIf="selectedTab === 'rds'">
      @defer (when selectedTab === 'rds') {
      <app-add-event-form [addEventConfig]="addEventConfig" (onEventAdded)="handleEventAdded($event)">
      </app-add-event-form>
      <nz-divider></nz-divider>
      <app-events-table [columns]="columns" [data]="data"></app-events-table>
      }
    </ng-container>
    <ng-container *ngIf="selectedTab === 'postEvent'">
      @defer (when selectedTab === 'postEvent') {
      <app-add-event-form [addEventConfig]="addEventConfig" (onEventAdded)="handleEventAdded($event)">
      </app-add-event-form>
      <nz-divider></nz-divider>
      }
    </ng-container>
    <ng-container *ngIf="selectedTab === 'eventResponse'">
      @defer (when selectedTab === 'eventResponse') {
      <app-add-event-form [addEventConfig]="addEventConfig" (onEventAdded)="handleEventAdded($event)">
      </app-add-event-form>
      <nz-divider></nz-divider>
      }
    </ng-container>
  </div>
</ng-template>

<!-- Loading Template -->
<ng-template #loadingTemplate>
  <div class="example">
    <nz-spin nzSimple nzTip="Loading..." [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>

<!-- Error Template -->
<ng-template #errorTemplate>
  <p>Error loading data. Please try again later.</p>
</ng-template>