<nz-modal
  [(nzVisible)]="showModal"
  nzTitle="Upload Gross Loss File"
  [nzWidth]="modalWidth"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-tabset [nzAnimated]="true" [(nzSelectedIndex)]="selectedTabIndex">
      <!-- UPLOAD TAB -->
      <nz-tab nzTitle="Upload">
        <form [formGroup]="uploadForm" nz-form>
          <div class="top-panel">
            <div nz-row [nzGutter]="16" class="top-panel-row">
              <div
                nz-col
                [nzXs]="24"
                [nzSm]="12"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="12"
              >
                <nz-form-item>
                  <nz-form-label>File Name</nz-form-label>
                  <nz-form-control>
                    <input
                      nz-input
                      id="friendlyName"
                      formControlName="friendlyName"
                      placeholder="User friendly name instead of filename"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                nz-col
                [nzXs]="24"
                [nzSm]="12"
                [nzMd]="12"
                [nzLg]="12"
                [nzXl]="12"
              >
                <nz-form-item>
                  <nz-form-label nzRequired>Event Set</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="eventSet"
                      formControlName="eventSet"
                      placeholder="Select Event Set"
                    >
                      <nz-option
                        *ngFor="let item of eventSetData"
                        [nzValue]="item.eventSetID"
                        [nzLabel]="item.eventSetName"
                      >
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row [nzGutter]="16">
              <div nz-col [nzSpan]="12">
                <div nz-row [nzGutter]="16" style="margin-bottom: 2rem">
                  <div nz-col [nzSpan]="12">
                    <nz-upload
                      nzAction="#"
                      nzListType="text"
                      [nzShowUploadList]="true"
                      [(nzFileList)]="fileList"
                      [nzCustomRequest]="customRequest"
                      [nzBeforeUpload]="beforeUpload"
                      [nzMultiple]="false"
                      (nzChange)="handleFileInput($event)"
                    >
                      <button nz-button>
                        <i nz-icon nzType="upload"></i> Choose file to upload
                      </button>
                    </nz-upload>
                  </div>
                </div>

                <nz-form-item>
                  <nz-form-label nzRequired>Data Producer</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      id="dataProducer"
                      formControlName="dataProducer"
                      placeholder="Select Data Producer"
                    >
                      <nz-option
                        *ngFor="let item of dataProducerList"
                        [nzValue]="item?.dataProducerID"
                        [nzLabel]="item?.dataProducerName"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzFor]="'description'">
                    Description
                  </nz-form-label>
                  <nz-form-control>
                    <textarea
                      nz-input
                      id="description"
                      formControlName="description"
                      rows="3"
                      placeholder="Enter description"
                    ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="12">
                <h3>File Validation</h3>
                <div
                  nz-row
                  [nzGutter]="16"
                  style="
                    margin-bottom: 16px;
                    display: flex;
                    align-items: center;
                    padding-bottom: 1rem;
                  "
                >
                  <button
                    nz-button
                    (click)="validateFile()"
                    [nzLoading]="isValidating"
                  >
                    <span *ngIf="!isValidating">Validate</span>
                    <span *ngIf="isValidating">Validating...</span>
                  </button>
                </div>
                <nz-table
                  [nzData]="fileValidationResults"
                  [nzBordered]="true"
                  [nzSize]="'small'"
                  [nzScroll]="{ x: '300px' }"
                  [nzShowPagination]="false"
                >
                  <thead>
                    <tr>
                      <th>Check</th>
                      <th>Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of fileValidationResults">
                      <td>{{ result.check }}</td>
                      <td
                        [style.background]="
                          result.result === 'true' ? '#d4edda' : '#f8d7da'
                        "
                      >
                        {{ result?.result }}
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>

            <div nz-row [nzGutter]="16">
              <div
                style="margin-top: 1rem; width: 100%"
                *ngIf="validationErrors?.length > 0"
              >
                <h4>
                  Detailed Validation Errors ({{ validationErrors.length }}
                  total):
                </h4>
                <nz-table
                  [nzData]="validationErrors"
                  [nzBordered]="true"
                  [nzSize]="'small'"
                  [nzScroll]="{ x: '600px', y: '300px' }"
                  [nzShowPagination]="false"
                >
                  <thead>
                    <tr>
                      <th>Row #</th>
                      <th>Error(s)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of validationErrors">
                      <td>{{ row.rowNumber }}</td>
                      <td>
                        <ul style="margin: 0; padding-left: 1.5rem">
                          <li *ngFor="let e of row.errors">{{ e }}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </form>
      </nz-tab>

      <!-- PREVIEW TAB -->
      <nz-tab nzTitle="Preview">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="24">
            <h3>Preview Screen</h3>
            <p *ngIf="!tableHeaders?.length">
              No data to display. Please validate and parse the file.
            </p>

            <nz-table
              *ngIf="tableHeaders?.length"
              style="min-height: 600px"
              #basicTable
              [nzBordered]="true"
              [nzFrontPagination]="false"
              [nzLoading]="loading || isValidating"
              [nzData]="displayData"
              [nzTotal]="total"
              [nzPageIndex]="pageIndex"
              [nzPageSize]="pageSize"
              (nzPageIndexChange)="onPageIndexChange($event)"
              (nzPageSizeChange)="onPageSizeChange($event)"
            >
              <thead>
                <tr>
                  <th *ngFor="let header of tableHeaders">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of displayData">
                  <td *ngFor="let cell of row">
                    {{ cell }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-modal>
