<nz-modal [(nzVisible)]="showModal" nzTitle="New Event Set" [nzWidth]="modalWidth" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form [formGroup]="eventSetForm" (ngSubmit)="handleOk()" nz-form>
            <div nz-row [nzGutter]="16">
                <!-- Event Set Name -->
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'eventSetName'" nzRequired>
                            Event Set Name
                        </nz-form-label>
                        <nz-form-control>
                            <input nz-input id="eventSetName" formControlName="eventSetName"
                                placeholder="Enter Event Set Name" />
                            <div *ngIf="
                  eventSetForm.get('eventSetName')?.invalid &&
                  eventSetForm.get('eventSetName')?.touched
                " class="error">
                                <span *ngIf="eventSetForm.get('eventSetName')?.hasError('required')">
                                    Event Set Name is required.
                                </span>
                                <span *ngIf="eventSetForm.get('eventSetName')?.hasError('maxlength')">
                                    Event Set Name cannot exceed 200 characters.
                                </span>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Event Set Description -->
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                        <nz-form-label [nzFor]="'eventSetDescription'" nzRequired>
                            Event Set Description
                        </nz-form-label>
                        <nz-form-control>
                            <textarea nz-input id="eventSetDescription" formControlName="eventSetDescription" rows="3"
                                placeholder="Enter Event Set Description"></textarea>
                            <div *ngIf="
                  eventSetForm.get('eventSetDescription')?.invalid &&
                  eventSetForm.get('eventSetDescription')?.touched
                " class="error">
                                <span *ngIf="eventSetForm.get('eventSetDescription')?.hasError('required')">
                                    Event Set Description is required.
                                </span>
                                <span *ngIf="
                    eventSetForm.get('eventSetDescription')?.hasError('maxlength')
                  ">
                                    Event Set Description cannot exceed 2000 characters.
                                </span>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row [nzGutter]="16">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
                    <app-events-table [addEventConfig]="addEventConfig"
                        [successValue]="eventList$ | async | successValue" [isMultipleAddMode]="true"
                        (selectedRowsChanged)="handleMultipleRows($event)"></app-events-table>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>