<div class="dashboard-container">
  <h2>Loss Load Dashboard</h2>
  <div class="grid-wrapper">

    <div class="action-buttons">
      <button nz-button nzType="default" (click)="onUploadLossFile()">Upload Loss File</button>
    </div>


    <ag-grid-angular
    style="height: 600px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [groupDefaultExpanded]="-1"
      [animateRows]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>

<upload-loss-load-modal
  [showModal]="isModalVisible"
  (onOk)="handleModalOk($event)"
  (onCancel)="handleModalCancel()">
</upload-loss-load-modal>