<div class="dashboard-container">
  <h2>Loss Uploads</h2>
  <div class="grid-wrapper">

    <div class="action-buttons">
      <button nz-button nzType="default" (click)="onUploadLossFile()">Upload Loss File</button>
    </div>

       <nz-spin *ngIf="isLoading" nzTip="Preparing data..."></nz-spin>

       <div class="grid-panel">
<ag-grid-angular
         *ngIf="!isLoading"
         class="ag-theme-alpine"
         [rowData]="rowData"
         [columnDefs]="columnDefs"
         [defaultColDef]="defaultColDef"
         [groupDefaultExpanded]="0"
         [animateRows]="true"
         [autoGroupColumnDef]="autoGroupColumnDef"
         (gridReady)="onGridReady($event)"
       ></ag-grid-angular>
       </div>
       
   
  </div>
</div>

<upload-loss-load-modal
  [showModal]="isModalVisible"
  (onOk)="handleModalOk($event)"
  (onCancel)="handleModalCancel()">
</upload-loss-load-modal>