<div class="main-container">
  <div class="tab-buttons">
    <h2>Event Sets</h2>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="default" *ngFor="let tab of tabs" [ngClass]="{ 'active-tab': selectedTabId === tab.id }"
      (click)="setActiveTab(tab.id)">
      {{ tab.label }}
    </button>

  </div>

  <div class="event-set-data">
    <app-event-set-table [eventSetData]="eventSetData" (new)="handleOnNewEvent($event)"
     (delete)="handleOnDeleteEventSet($event)"></app-event-set-table>
  </div>
</div>


<!-- Delete Event Set Modal -->
<app-delete-event-set-modal 
  [showModal]="isDeleteModalVisible"
  [eventSet]="selectedEventSet"
  (onConfirm)="handleDeleteConfirmed($event)"
  (onCancel)="closeDeleteModal()">
</app-delete-event-set-modal>

<ng-container *ngIf="isAddEventSetModalVisible">
  <add-event-set-modal
    [showModal]="isAddEventSetModalVisible"
    (onOk)="onModalOk($event)"
    (onCancel)="onModalCancel()"
  ></add-event-set-modal>
</ng-container>