<!-- REQUIRED ENTERPRISE LICENSE KEY -->
<!-- <section id="events-set-dashboard">
  <ag-grid-angular
  style="width: 100%; height: 100%;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [masterDetail]="true"
  [detailCellRendererParams]="detailCellRendererParams"
  [groupDefaultExpanded]="-1"
  [pagination]="true"
  [animateRows]="true"
>
</ag-grid-angular>
</section> -->

<!-- <nz-table #nestedTable [nzData]="listOfParentData" [nzBordered]="true" [nzPageSize]="10">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Created Date</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfParentData">
      <td [nzExpand]="data.expand" (nzExpandChange)="data.expand = !data.expand"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.createDate }}</td>
      <td>{{ data.createUser }}</td>
    </tr>

    <tr *ngIf="data.expand">
      <td colspan="5">
        <nz-table
          [nzData]="getChildrenForParent(data.key)"
          [nzBordered]="true"
          [nzShowPagination]="false"
          [nzSize]="'middle'"
        >
          <thead>
            <tr>
              <th>Event ID</th>
              <th>Type</th>
              <th>Name</th>
              <th>Region Peril</th>
              <th>Created By</th>
              <th>Created On</th>
              <th>Industry Loss Estimate</th>
              <th>Impact Rating</th>
              <th>Is Restricted</th>
              <th>Is Archived</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of getChildrenForParent(data.key)">
              <td>{{ event.eventID }}</td>
              <td>{{ event.eventTypeName }}</td>
              <td>{{ event.eventNameShort }}</td>
              <td>{{ event.regionPerilName }}</td>
              <td>{{ event.userName }}</td>
              <td>{{ event.createDate }}</td>
              <td>{{ event.industryLossEstimate }}</td>
              <td>{{ event.hiscoxLossImpactRating }}</td>
              <td>{{ event.isRestrictedAccess }}</td>
              <td>{{ event.isArchived }}</td>
              <td>
                <span class="table-operation">
                  <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                    Pause
                    <span nz-icon nzType="down"></span>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item><a>Action 1</a></li>
                      <li nz-menu-item><a>Action 2</a></li>
                    </ul>
                  </nz-dropdown-menu>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a class="operation">Stop</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>More</a>
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </td>
    </tr>
  </tbody>
</nz-table> -->

<section id="events-set-dashboard">
  <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>
  <div class="action-buttons">
    <button nz-button nzType="default" (click)="onAddEventSet()">Add Event Set</button>
  </div>
</section>

<ng-template #buttonsTemplate>
  <div class="tab-buttons">
    <h2>Event Sets</h2>
    <nz-divider nzType="vertical"></nz-divider>
    <button nz-button nzType="default" *ngFor="let tab of tabs" [ngClass]="{ 'active-tab': selectedTab === tab.key }"
      (click)="setActiveTab(tab.key)">
      {{ tab.label }}
    </button>
  </div>
</ng-template>

<ng-container *ngIf="showTable">
  <nz-table #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      @for (data of nestedTable.data; track data) {
      <tr>
        <td [(nzExpand)]="data.expand">
          {{ data?.createDate && data.createDate !== 'No Date' ? (data.createDate | date: 'dd/MM/yyyy') :
          data.createDate }}
        </td>
        <td>{{ data?.name }}</td>
        <td>{{ data?.description }}</td>
        <td>
          {{ data?.createDate && data.createDate !== 'No Date' ? (data.createDate | date: 'dd/MM/yyyy') :
          data.createDate }}
        </td>
        <td>{{ data?.createUser }}</td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="listOfChildrenData" nzSize="middle" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Event ID</th>
              <th>Type</th>
              <th>Name</th>
              <th>Region Peril</th>
              <th>Created By</th>
              <th>Created On</th>
              <th>Industry Loss Estimate</th>
              <th>Impact Rating</th>
              <th>Is Restricted</th>
              <th>Is Archived</th>
              <th>Actions</th>
            </tr>
          </thead>
    <tbody>
      @for (data of innerTable.data; track data) {
      <tr>
        <td>{{ data?.eventID }}</td>
        <td>{{ data?.eventTypeName }}</td>
        <td>{{ data?.eventNameShort }}</td>
        <td>{{ data?.regionPerilName }}</td>
        <td>{{ data?.userName }}</td>
        <td>{{ data?.createDate }}</td>
        <td>{{ data?.industryLossEstimate }}</td>
        <td>{{ data?.hiscoxLossImpactRating }}</td>
        <td>{{ data?.isRestrictedAccess }}</td>
        <td>{{ data?.isArchived }}</td>


        <td>
          <span class="table-operation">
            <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
              Pause
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <a>Action 1</a>
                </li>
                <li nz-menu-item>
                  <a>Action 2</a>
                </li>
              </ul>
            </nz-dropdown-menu>
            <nz-divider nzType="vertical"></nz-divider>
            <a class="operation">Stop</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>More</a>
          </span>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
  </tr>
  }
  </tbody>
  </nz-table>
</ng-container>

<nz-modal
[(nzVisible)]="isModalVisible"
nzTitle="New Event Set"
[nzWidth]="'800px'"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleSave()"
>
<div *nzModalContent>
  <form nz-form [formGroup]="eventForm">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'eventSetName'">Event Set Name</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="eventSetName"
              placeholder="Enter event set name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'eventType'">Type</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="eventType"
              [nzOptions]="eventTypeOptions"
              nzPlaceHolder="Select type"
            ></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'eventDate'">Event Date</nz-form-label>
          <nz-form-control>
            <nz-date-picker formControlName="eventDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

        <div nz-col [nzSpan]="24">
          <!-- <h3>New Event(s)</h3>
          <nz-divider></nz-divider> -->
  
          <nz-form-item>
            <nz-form-label [nzFor]="'eventName'">Event Name(s)</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                formControlName="eventName"
                placeholder="Enter event name(s)"
              />
            </nz-form-control>
          </nz-form-item>
  
          <!-- <nz-form-item>
            <nz-form-label [nzFor]="'industryLoss'">Industry Loss ($billions)</nz-form-label>
            <nz-form-control>
              <nz-checkbox-group
                formControlName="industryLoss"
                [nzOptions]="industryLossOptions"
              ></nz-checkbox-group>
            </nz-form-control>
          </nz-form-item>
   -->
          <nz-form-item>
            <nz-form-label [nzFor]="'regionPeril'">Region-Peril</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="regionPeril"
                [nzOptions]="regionPerilOptions"
                nzPlaceHolder="Select region-peril"
              ></nz-select>
            </nz-form-control>
          </nz-form-item>
  
          <!-- <nz-form-item>
            <nz-form-label [nzFor]="'hiscoxLossImpact'">Hiscox Loss Impact</nz-form-label>
            <nz-form-control>
              <nz-checkbox-group
                formControlName="hiscoxLossImpact"
                [nzOptions]="hiscoxImpactOptions"
              ></nz-checkbox-group>
            </nz-form-control>
          </nz-form-item> -->
        </div>

      <div nz-col [nzSpan]="24">
        <h3>Aggregate Prior Events</h3>
        <nz-divider></nz-divider>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="isAggregateEvent">
              Is this an annual aggregate event?
            </label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="eventForm.get('isAggregateEvent')?.value">
          <nz-form-label [nzFor]="'existingEventSet'">Existing Event Set</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="existingEventSet"
              [nzOptions]="existingEventSetOptions"
              nzPlaceHolder="Select existing event set"
            ></nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      </div>
      </form>
    </div>
</nz-modal>

