<nz-table #parentTable [nzData]="parentData" [nzPageSize]="10" nzTableLayout="fixed">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Platform</th>
        <th>Version</th>
        <th>Upgraded</th>
        <th>Creator</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parentItem of parentTable.data">
        <td nzExpand [(nzExpand)]="parentItem.expand" (click)="toggleExpand(parentItem)"></td>
        <td>{{ parentItem.name }}</td>
        <td>{{ parentItem.platform }}</td>
        <td>{{ parentItem.version }}</td>
        <td>{{ parentItem.upgradeNum }}</td>
        <td>{{ parentItem.creator }}</td>
        <td>{{ parentItem.createdAt }}</td>
        <td>
          <a (click)="onPublish(parentItem)">Publish</a>
        </td>
      </tr>
      <tr *ngIf="parentItem.expand" [nzExpand]="parentItem.expand">
        <td colspan="8">
          <nz-table #childTable [nzData]="childrenData[parentItem.key]" nzSize="middle" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Status</th>
                <th>Upgrade Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let childItem of childTable.data">
                <td>{{ childItem.date }}</td>
                <td>{{ childItem.name }}</td>
                <td>
                  <nz-badge [nzStatus]="childItem.status === 'Finished' ? 'success' : 'default'" [nzText]="childItem.status"></nz-badge>
                </td>
                <td>{{ childItem.upgradeNum }}</td>
                <td>
                  <span class="table-operation">
                    <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                      Pause
                      <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu>
                        <li nz-menu-item>
                          <a (click)="onAction1(childItem)">Action 1</a>
                        </li>
                        <li nz-menu-item>
                          <a (click)="onAction2(childItem)">Action 2</a>
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="onStop(childItem)" class="operation">Stop</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="onMore(childItem)">More</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </tbody>
  </nz-table>
  