.event-catalog {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  h3 {
    margin: 0;
    font-weight: bold;
  }
  
  .nz-tabset {
    margin-left: 20px;
  }

  .tab-buttons {
    display: flex;
    gap: 8px;
  }
  
  .tab-content {
    margin-top: 16px;
  }